:root[color-theme='light'] {
    --background: rgba(245, 245, 245);
    --header-background: rgba(231, 234, 235);
    --text: black;
    --border: black;
}

:root[color-theme='dark'] {
    --background: rgba(45, 45, 50);
    --header-background: rgba(55, 55, 55);
    --border: black;
    --text: white;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/* header */
#root > header {
    height: 50px;
    width: 100%;
    background-color: var(--background);
    border-bottom: 1px var(--border) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-container {
    display: flex;
    align-items: center;
}

#svg-container {
    width: 50px;
    height: 50px;
    margin-right: 3px;
}

#header-img {
    padding-left: 5px;
    height: 26px;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 6px 0px;
    color: var(--text);
    background: var(--header-background);
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* main */
main {
    scroll-behavior: smooth;
    flex-grow: 1;
    padding: 10px 10px 45px 10px;
    color: var(--text);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    overflow-y: scroll;
    font-size: 18px;
}

main > div {
    display: flex;
    flex-direction: column;
}

section > header {
    display: flex;
    align-items: top;
    margin: 10px 0 0 15px;
}

article {
    padding: 15px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

label {
    display: inline-flex;
    align-items: center;
    padding: 5px 0;
}

#label-container {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.img-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px var(--border) solid;
    /*box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);*/
    margin: auto 10px auto 0;
    display: inline-block;
}

.img-container > img {
    width: 100%;
    height: 100%;
}

input[type="radio"] {
    margin: 0;
}

.radio-container {
    gap: 0 5px;
    padding: 0 5px 0 0;    
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

p {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

input[type="number"] {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text);
    border: none;
    margin: 0 5px 0 10px;
    height: 20px;
    text-align: right;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 3px 5px;
    border-radius: 3px;
}

input[type="nunmber"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:disabled {
    background-color: rgba(127, 127, 127, 0.2);
}

.card-input, .mailbox-input {
    width: 50px;
}

.exchange-input {
    width: 100px;
}

#fame {
    width: 70px;
}

.navigation {
    width: 60px;
    height: 60px;
}

.navigation > img {
    width: 100%;
    height: 100%;
}

#view-mode-svg {
    width: 100%;
    height: 100%;
}

#authority {
    padding-bottom: 20px;
}