.has-item {
    text-align: center;
}
td {
    padding: 0px 1rem;
    text-align: center;
}
header {
    height: 40px;
    display: table-cell; 
    vertical-align: middle;
    width: 100%;
    padding: 16px 0px;
    color: white;
    background: rgba(50,50,55);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#header-img {
    margin: 0;
    height: 110%;
}
body {
    padding-top: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}
main {
    padding: 3rem 1rem 0.5rem 1rem;
    color: #FFFFFF;
    background-color: rgba(30,30,35);
}
.item-table {
    width: 90vw;
    max-width: 500px;
    table-layout: fixed;
    margin: 0 auto;
    padding-top: 50px;
}
footer {
    display: table-cell; 
    vertical-align: middle;
    width: 100%;
    padding: 1rem 0px;
    color: white;
    background: rgba(50,50,55);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bold;
}
#gashapon-button {
    position: fixed;
    right: 3px;
    bottom: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 90px;
}
#daehyun-button {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 60px;
}
#daehyun-img {
    width: 100%;
}
.gashapon-img {
    width: 100%;
}
#checkbox-raw {
    width: 20%;
}
#name-raw {
    width: 55%;
}
#probability-raw {
    width: 25%;
}
#songpyeon-container {
    display: grid;
    grid-gap: 5px;
    width: 50vw;
    max-width: 200px;
    margin: 0 auto auto auto;
    grid-template-columns: 2fr, 1fr;
}
#pink-label-container {
    grid-column: 1;
    grid-row: 1;
    margin-left: 0;
}
#pink-amount-container {
    grid-column: 2;
    grid-row: 1;
    margin-left: 0;
    text-align: right;
}
#songgi-label-container {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
}
#songgi-amount-container {
    grid-column: 2;
    grid-row: 2;
    margin-right: 0;
    text-align: right;
}
#flower-label-container {
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
}
#flower-amount-container {
    grid-column: 2;
    grid-row: 3;
    margin-right: 0;
    text-align: right;
}
#pig-label-container {
    grid-column: 1;
    grid-row: 4;
    margin-left: 0;
}
#pig-amount-container {
    grid-column: 2;
    grid-row: 4;
    margin-right: 0;
    text-align: right;
}
#pink, #songgi, #flower, #pig {
    display: inline-block;
    margin-left: 0;
}
#pink-amount, #songgi-amount, #flower-amount, #pig-amount {
    border: 2px white solid; 
    background: transparent;
    color: white;
    width: 10vw;
    max-width: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}
#comment {
    margin: 0;
    text-align: right;
    padding: 1rem 10px 4rem 5px;
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(30,30,35);
    color: #FFFFFF
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
a:link {
    text-decoration: none;
    color: #287AFF;
}
a:visited {
    text-decoration: none;
    color: #287AFF;
}
a:active {
    text-decoration: none;
    color: #287AFF;
}
a:hover {
    text-decoration: none;
    color: #287AFF;
}