:root[color-theme='light'] {
    --background: white;
    --border: black;
    --text: black;
}

:root[color-theme='dark'] {
    --background: rgb(30,30,30);
    --border: black;
    --text: white;
}

html {
    min-height: 100vh;
    overflow: hidden;
}

body {
    padding-top: 40px;
    margin: 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header */
body > header {
    position: fixed;
    height: 40px;
    width: 100%;
    vertical-align: middle;
    background-color: var(--background);
    color: var(--text);
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    border-bottom: 1px var(--border) solid;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 40px 50px;
    grid-template-rows: 40px;
}

img#header-img {
    position: absolute;
    height: 50%;
    margin: auto auto auto 10px;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

img#menu-img {
    position: absolute;
    height: 75%;
    margin: auto 10px auto auto;
    top: 0; 
    bottom: 0; 
    right: 0;
}

/* main */
main {
    color: var(--text);
    background-color: var(--background);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding-top: 10px;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

section > header {
    display: flex;
    align-items: top;
}

div#card-img-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px var(--border) solid;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
    margin: auto 10px;
    display: inline-block;
}

img#card-img {
    width: 100%;
    height: 100%;
}

span#card-title {
    color: var(--text);
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

table#product-list { 
    font-weight: 400;
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

table#product-list > th {
    width: 33%;
    border-bottom: 1px var(--text) solid;
}

table#product-list > tr {
    height: 30px;
    margin-top: 10px;
}

/*
table#product-list > tbody > tr {
    border-top: 1px var(--text) solid;
}
*/


/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--background);
    border: 1px var(--border) solid;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

svg#plus-img {
    width: 50px;
    border-radius: 25px;
    border: 1px var(--border) solid;
    margin: auto;
}

/* window */
.add-window[emphasized=false], .product-window[emphasized=false] {
    position: fixed;
    display: none;
    height: 90vh;
    width: 90vw;
    top: 5vh; 
    left: 5vw;
    background-color: var(--background);
    color: var(--text);
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 550px;
    z-index: 1;
}

.add-window[emphasized=true], .product-window[emphasized=true] {
    position: fixed;
    display: flex;
    height: 90vh;
    width: 90vw;
    top: 5vh; 
    left: 5vw;
    background-color: var(--background);
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    color: var(--text);
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 550px;
    z-index: 1;
}

.add-window, .product-window {
    overflow: hidden auto;
}

.add-window::-webkit-scrollbar, .product-window::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

div#author-container, div#comment-container {
    box-sizing: border-box;
    width: 100%;
}

input#author, textarea#comment {
    padding: 0;
    border: 1px var(--border) solid;
    font-size: 15px;
    width: 100%;
    padding: 0 5px;
    resize: none;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

textarea#comment {
    min-height: 400px;
}

p.input-title {
    margin-bottom: 5px;
    font-weight: 500;
}

div#move {
    flex: 1;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    vertical-align: bottom;
    display: flex;
    align-items: bottom;
}

button.prev, button.next {
    background: transparent;
    font-size: 20px;
    color: var(--text);
    border: 0;
    padding: 0;
    align-self: flex-end;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    vertical-align: middle;
}

button.next {
    margin: 0 10px 0 auto;
}

button.prev {
    margin: 0 auto 0 10px;
}

span.window-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    color: var(--text);
}

table#job-amount, table#job-price {
    margin-top: 10px;
    flex: 1;
    max-width: 500px;
    border-spacing: 0;
    width: 100%;
}

th {
    font-weight: 500;
}

th.job {
    width: 30%;
}

th.others, th.hot, th.cool {
    width: 16%;
}

th.insurance {
    width: 22%;
}

td {
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.mafia, .citizen_important, .citizen_others, .cult {
    color: black;
}

.mafia {
    background-color: rgb(188,75,71);
}

.citizen_important {
    background-color: rgb(139,181,222);
}

.citizen_others {
    background-color: rgb(92,110,197);
}

.cult {
    background-color: rgb(189,203,95);
}

input.price, input.amount {
    width: 100%;
    background-color: transparent;
    color: var(--text);
    border: 0;
    padding: 0;
    text-align: center;
    padding: 1px;
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

.closeButton {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--text);
    opacity: 0.5;
    margin-top: 5px;
    cursor: pointer;
}

div.window-title-container {
    width: 100%;
    margin: 0;
}

div#login {
    width: 50%;
    max-width: 300px;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    border-radius: 20px 0 0 20px;
    position: fixed;
    top: 0;
    right: -300px;
    border: 1px var(--border) solid;
    transition: all 0.5s;
}